
@{

    ViewBag.Title = "adminDashboard";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<link href="~/css/styles.css" rel="stylesheet" />
<link rel="icon" type="image/x-icon" href="assets/logo.ico" />
<link rel="stylesheet" type="text/css" href="~/css/styles.css">

<h2>Admin Dashboard</h2>

