
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<header>
<div class="masthead-content">
    <div class="container px-5">
        <h1 class="masthead-heading mb-0">Church Connect</h1>
        <h2 class="masthead-subheading mb-0">Connect With God</h2>
        <a class="btn btn-primary btn-xl rounded-pill mt-5" href="#scroll">Learn More</a>
    </div>
</div>

    </header>


